<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncepu.eg.mapper.GiftMapper">
    <select id="list" resultType="com.ncepu.eg.pojo.GiftVO">
        select gift_id,user_id,create_time,state from gift_info
        <where>
        <if test="state != null">
            state = #{state}
        </if>

            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>