<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncepu.eg.mapper.UserMapper">

    <select id="list" resultType="com.ncepu.eg.pojo.User">
        select * from user
        <where>
            <if test="nickName != null">
                nick_name = #{nickName}
            </if>
        </where>


    </select>
</mapper>